<ion-view title="Reihen auswählen" hide-back-button="true">
			
	
<ion-nav-buttons ngif="{{canExit}}" side="right">
      <button class="button button-icon icon ion-log-out" ng-click="endGame()">
      </button>
</ion-nav-buttons>
	
<ion-content>
	
<ion-checkbox ng-repeat="table in tableList"
                      ng-model="table.checked" 
                      ng-checked="table.checked">
          {{ table.text }}
</ion-checkbox>
               
<button ng-click="startGame()" class="button button-block button-positive">
  Starten
</button>
<div class="card">
	<div class="item item-text-wrap">
		Wähle die Reihen aus die du trainieren möchtest
		Viel Spass beim Rechnen Lernen.
		Entwickler: Arnaud  Tester: Antoine, Sophie.
	</div>
	</div>
</ion-content>


	
</ion-view>
