<ion-view title="Reihen auswählen" hide-back-button="true">
			
	
<ion-nav-buttons ng-if="canExit" side="right">
      <button class="button button-icon icon ion-log-out" ng-click="endGame()">
      </button>
</ion-nav-buttons>
	
<!--ion-content -->
<ion-scroll zooming="true" delegate-handle="scroll-view" >	
	<div class="row responsive-sm">
	<div class="col">
<ion-checkbox ng-repeat="table in tableList" ng-if="$even"
                      ng-model="table.checked" 
                      ng-checked="table.checked">
          {{ table.text }}
</ion-checkbox>
	</div>
	<div class="col">
<ion-checkbox ng-repeat="table in tableList" ng-if="$odd"
                      ng-model="table.checked" 
                      ng-checked="table.checked">
          {{ table.text }}
</ion-checkbox>
	</div>

	</div>
               
<button ng-click="startGame()" class="button button-block button-positive">
  Starten
</button>
<div class="card">
	<div class="item item-text-wrap">
		Wähle die Reihen aus die du trainieren möchtest.<br>
		Viel Spass beim Rechnen Lernen.<br>
		Entwickler: Arnaud   Tester: Antoine, Sophie.
	</div>
	</div>
</ion-scroll>
<!--/ion-content -->


	
</ion-view>
